<?xml version="1.0" encoding="utf-8"?>
<!--   
			SUMMARY  - 
A list of all main events to be called by lists
	does not include sub-events)
	
Structure:
	GAMEOVER
	TUTORIAL_START
	TUTORIAL_ENEMY
	TOO_MANY_CREW
	
	
Fleet Progression:
	START_BEACON
	FINISH_BEACON
	FINISH_BEACON_NEBULA
	FLEET_EASY_BEACON
	FLEET_HARD


Hostile:

Neutral:
	ASTEROID_EXPLORE
	MERCENARY


Nothing:	
	NOTHING
	
Distress Signals:
	FRIENDLY_BEACON
	PIRATE_CIVILIAN_BEACON
	STRANDED_BEACON
	TRAP_BEACON
	CIVILIAN_ASTEROIDS_BEACON
	ESCORT_BEACON
	REBEL_VS_FEDERATION   (also quest)

	
Boarders:
	BOARDERS
	BOARDERS_HACKING
	STATION_SICK
	BOARDERS_ASTEROID_GHOST
	
	

	
Items:
	STORE
	FIND_DRONE
	FIND_WEAPON
	FREE_ITEMS
	FUEL_FOR_DRONE
	REFUEL_STATION
	REPAIR_STATION
	SELL_DRONES_STATION
	SELL_MISSILES_STATION
	TRADER_CIV
	


	
Special:
	GHOST_SHIP
	FEDERATION_PLANET_SIGNAL    (contains other quest events)
			FEDERATION_PLANET_SIGNAL_LIST
			HIDDEN_FEDERATION_BASE_LIST
			FEDERATION_BASE_ASSIST
	QUEST_ESCORT
	STORE_RESCUE   (contains other quest events)
			QUEST_STORE
			QUEST_STORE_RESCUE
	MERCENARY_WORK_START

--->
<!--	
		New Ideas:
		
You're asked to scare someone off but not kill them
A treasure that if you choose to open it the jump track advances   	
- add a quest that is just a warning "don't go over here, there are pirates ambushing people"
engi - asks for a weapon to use - can give you an upgrade?
	
-->
<!--<autoReward level=<LOW/MED/HIGH/RANDOM>> tag </autoreward>
where tag is
standard  - which is scrap + 2 resources (possible a weapon)
stuff     - less scrap, mostly resources (intended for surrenders)
fuel 
missiles 
droneparts  - scrap + that resource
fuel_only 
missiles_only 
droneparts_only - self explanatory
weapon 
augment 
drone 
item - scrap + that thing  -->
<event name="BOARDER_TEST">
	<text>Oh no enemies!</text>
	<boarders min="3" max="5" class="human"/>
	<ship load="PIRATE"/>
</event>
