---
layout: default
---
<div class="col-md-8">{{content}}</div>
<div class="col-md-4">
	<div class="list-group">
		<a class="list-group-item" href="http://vk.com/ftl154">
			<h4 class="list-group-item-heading"><i class="fa fa-vk"></i> Группа перевода</h4>
			<p class="list-group-item-text">Деятельность в рамках перевода координируется и обсуждается там</p>
		</a>
		<a class="list-group-item" href="http://notabenoid.com/book/50611">
			<h4 class="list-group-item-heading"><i class="fa fa-edit"></i> Notabenoid</h4>
			<p class="list-group-item-text">Система коллективных переводов, в которой предлагаются новые варианты и исправляются существующие</p>
		</a>
		<a class="list-group-item" href="/ru-source/">
			<h4 class="list-group-item-heading"><i class="fa fa-comments-alt"></i> Списки фраз <small>для сборки</small></h4>
			<p class="list-group-item-text">Список ссылок на словари в системе Notabenoid для автоматизированного скачивания</p>
		</a>
	</div>
</div>
