<!DOCTYPE html>
<html>
<head>
	<title>Русские файлы FTL</title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.1.1/slate/bootstrap.min.css"></link>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<h1>FTL <small><em>Faster Than Light: Advanced Edition</em></small></h1>
					<h3>Открытый перевод на русский язык</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{{content}}
		</div>
	</div>
	<div class="jumbotron" style="margin-bottom: 0; margin-top: 2em;">
		<div class="container">
			&nbsp;
		</div>
	</div>
</body>
</html>
