<!DOCTYPE html>
<html>
<head>
	<title>Русские файлы FTL</title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.1.1/slate/bootstrap.min.css"></link>
	<link type="text/css" rel="stylesheet" href="http://dside.ru/css/font-awesome.min.css"></link>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1><em>FTL: Faster Than Light</em><br/><small>Проект перевода на русский язык.</small></h1>
		</div>
		<div class="row">
			{{content}}
		</div>
	</div>
</body>
</html>